/* Coolors Exported Palette - coolors.co/f5fbef-c3baaa-1c1c1c-392a16-3f4045 */

/* HSL */
$color1: hsla(90%, 60%, 96%, 1);
$color2: hsla(38%, 17%, 72%, 1);
$color3: hsla(0%, 0%, 11%, 1);
$color4: hsla(34%, 44%, 15%, 1);
$color5: hsla(230%, 5%, 26%, 1);

/* RGB */
$color1: rgba(245, 251, 239, 1);
$color2: rgba(195, 186, 170, 1);
$color3: rgba(28, 28, 28, 1);
$color4: rgba(57, 42, 22, 1);
$color5: rgba(63, 64, 69, 1);